.card {
  width: calc(33% - 16px);
  margin: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.img {
  height: 300px;
}

.title {
  overflow: hidden;
  padding-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 1000px) {
  .card {
    width: calc(50% - 16px);
  }
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}
